{
    "databases": {
        "whmcs": {
            "host": "",
            "user": "",
            "password": "",
            "database": ""
        },
        "tcadmin": {
            "host": "",
            "user": "",
            "password": "",
            "database": ""
        },
        "whatsapp": {
            "host": "",
            "user": "",
            "password": "",
            "database": ""
        }
    },
    "payment_gateways": {
        "mercadopago": {
            "access_token": "",
            "back_urls": {
                "success": "",
                "failure": "",
                "pending": ""
            },
            "notification_url": ""
        }
    }
}